<div class="author">
  <h1 class="author__heading">Hi, Im Yuvayogi</h1>
  <p class="author__body">
    This hash will be stored in the database along with other details. One more
    thing, do you think I will get the result if I re-run the code? Will it
    generate the same output each time? Get set up and learn how to use icons in
    your projects, awesomely. We've got set-up guides for those just getting
    started, styling guides to add some flair, and deeper dives for fine-tuning
    Font Awesome to suit your needs.
  </p>
  <img
    src="/img/hero-img.jpg"
    alt=""
    class="hero-image"
    width="981"
    height="528"
  />
  <section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="article-ul">
      <li>
        <a href=""
          ><span>Post Title</span>
          <span class="article-list__date">Date</span></a
        >
      </li>
    </ul>
    <ul class="article-ul">
      <li>
        <a href=""
          ><span>Post Title</span>
          <span class="article-list__date">Date</span></a
        >
      </li>
    </ul>
    <ul class="article-ul">
      <li>
        <a href=""
          ><span>Post Title</span>
          <span class="article-list__date">Date</span></a
        >
      </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
  </section>
</div>
